{% extends 'base.html' %}
{% load static %}
{% block title %} Sam's - Blog {% endblock title %}

{% block header %}
    <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
{% endblock header %}

{% block site-heading %}
    <h1>Sam's Blog</h1>
    <span class="subheading">Blog desenvolvido com Django.</span>
{% endblock site-heading %}

{% block content %}
    {% for post in object_list %}
        <div class="post-preview">
            <a href="{{post.get_absolute_url}}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ post.author.get_full_name }}</a>
              em {{post.posted}}</p>
        </div>
        <hr>
    {% endfor %}
    <div class="clearfix">
      <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>
{% endblock content %}

<!--
  <div class="post-entry">
            <h2><a href="{{post.get_absolute_url}}"></a></h2>
            <p>{{ post.article }} </p>
        </div>




-->
