{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Blog - Novo Post {% endblock title %}
{% block content %}

    <div class="container justify-content-center">
        <div class="card">
            <div class="card-header">
                <h1>Nova Postagem</h1>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form|crispy }}
                    <input type="submit" value="Salvar">{% csrf_token %}
                </form>
            </div>
        </div>
    </div>


{% endblock content %}
